body {
    background-color: rgba(246, 197, 85, .9);
}

/* .bg_pattern {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(/images/texture.png);
    -webkit-transition: background-color 2s ease-in;
} */

/* ログイン */
.login_area {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.login_area h3 {
    font-size: 25px;
    margin-bottom: 30px;
}

.form_area {
    text-align: center;
    margin: 0 auto;
}

.form_area input {
    max-width: 500px;
    font-size: 15px!important;
    padding: 10px!important;
    margin-bottom: 20px;
}
.form_area .login_btn {
    width: 150px!important;
    margin-top: 30px;
    font-size: 14px;
}

.form_area a.small {
    margin-top: 10px;
    font-size: 12px;
}
/* メイン */
.list_info a{
    display: block;
    margin-left: 20px;
}

/* .main_list_title:hover {
    cursor: pointer;
    color: cornflowerblue;
} */

/* ======================
 応用文
====================== */
.page_area {
    margin: 30px auto;
    padding: 20px;
    border-radius: 3px;
    max-width: 400px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.9);
}

.dialog_area h4 {
    font-size: 18px;
}

.dialog_area a{
    color: #444;
    font-size: 14px;
}

.dialog_area a:hover {
    color: #00897B;
    text-decoration: none;
    transition: all .3s;
}

.play_area {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ececec;
    border: 1px solid black;
    margin: 30px;
}

.video_area {
    padding: 20px;
}
.video_area video {
    width: 100%;
}

.back_btn a {
    min-width: 100px;
}

.image_place {
    height: 400px;
    width: 300px;
}

.pie {
    -webkit-tap-highlight-color: transparent;
    background: #000;
    border-radius: 50%;
    box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    height: 370px;
    left: -200px;
    position: absolute;
    top: -200px;
    width: 370px;
    transform: translateX(-200px) translateY(-200px);
    transition: transform 300ms;
  }
  .pie-color:hover {
    opacity: 0.85;
  }
  .pie-color:active {
    opacity: 0.7;
  }
  .pie1 {
    clip-path: polygon(200px 200px, 344px 450px, 0 450px);
    transition-delay: 30ms;
  }
  .pie2 {
    clip-path: polygon(200px 200px, 344px 450px, 450px 344px);
    transition-delay: 60ms;
  }
  .pie3 {
    clip-path: polygon(200px 200px, 450px 0, 450px 344px);
    transition-delay: 90ms;
  }
  .pie-color {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .pie-color1 {
    background: linear-gradient(135deg,#ffff99,orange);
    clip-path: polygon(200px 200px, 344px 450px, 0 450px);
  }
  .pie-color2 {
    background: linear-gradient(135deg, #ffff99,yellow);
    clip-path: polygon(200px 200px, 344px 450px, 450px 344px);
  }
  .pie-color3 {
    background: linear-gradient(135deg, #ffffb3, #ffffb3);
    clip-path: polygon(200px 200px, 450px 0, 450px 344px);
  }
  .card1 {
    left: 210px;
    position: absolute;
    top: 300px;
    width: 50px;
  }
  .discount {
    left: 265px;
    position: absolute;
    top: 265px;
    width: 46px;
  }
  .cart1 {
    left: 305px;
    position: absolute;
    top: 210px;
    width: 46px;
  }
  .menu {
    -webkit-tap-highlight-color: transparent;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    height: 170px;
    left: -100px;
    position: absolute;
    top: -100px;
    width: 170px;
  }
  .hamburger {
    cursor: pointer;
    height: 46px;
    left: 58%;
    position: relative;
    top: 58%;
    width: 46px;
  }
  .title {
    color: white;
    font-family: "Crimson Text", serif;
    font-size: 80px;
    line-height: 84px;
    margin-top: -100px;
    text-align: center;
  }
  .body {
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 28px;
    margin: 30px auto;
    max-width: 600px;
    text-align: center;
  }
  .hamburger path {
    transition: transform 300ms;
  }
  .hamburger path:nth-child(1) {
    transform-origin: 25% 29%;
  }
  .hamburger path:nth-child(2) {
    transform-origin: 50% 50%;
  }
  .hamburger path:nth-child(3) {
    transform-origin: 75% 72%;
  }
  .hamburger path:nth-child(4) {
    transform-origin: 75% 29%;
  }
  .hamburger path:nth-child(5) {
    transform-origin: 25% 72%;
  }
  .active .pie {
    transform: translateX(0) translateY(0);
  }
  .active .hamburger path:nth-child(1) {
    transform: rotate(45deg);
  }
  .active .hamburger path:nth-child(2) {
    transform: scaleX(0);
  }
  .active .hamburger path:nth-child(3) {
    transform: rotate(45deg);
  }
  .active .hamburger path:nth-child(4) {
    transform: rotate(-45deg);
  }
  .active .hamburger path:nth-child(5) {
    transform: rotate(-45deg);
  }
  .log_bg{
    text-align: center;
    margin-top:150px;
    
  }
  input[type="range"] {
    -webkit-appearance: none; /* 🚩これ無しだとスタイルがほぼ全く反映されないので注意 */
    appearance: none;
    cursor: pointer; /* カーソルを分かりやすく */
    outline: none; /* スライダーのアウトラインは見た目がキツイので消す */
    height: 14px; /* バーの高さ */
    width: 100%; /* バーの幅 */
    background: #8acdff; /* バーの背景色 */
    border-radius: 10px; /* バーの両端の丸み */
    border: solid 3px #dff1ff; /* バー周囲の線 */
  }