body{
    background-color: rgba(246, 197, 85, .9);
}

.timer{
    position: relative;
    padding: 0;
}
.counttime{
    position: absolute;
    font-size: 3em;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin-top: -35px;
    margin-left: 45px;
    padding:0;
}
.timer img{
    width: 90px;
}
p{
    font-size: 3em;
}

.result{
  position: absolute;
}
.resulttxt{
  text-align: center;
  color: #fff;
  visibility: hidden;
}

.page_area {
    margin: 70px auto;
    padding: 20px;
    border-radius: 3px;
    max-width: 800px;
    max-height: 700px;
    background-color: rgba(255, 255, 255, 0.9);
}

.button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    height: 50px;
    width: 100%;
}

.test-image{
    width: 100%;
    height: 100%;
}

.pie {
    -webkit-tap-highlight-color: transparent;
    background: #000;
    border-radius: 50%;
    box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    height: 370px;
    left: -200px;
    position: absolute;
    top: -200px;
    width: 370px;
    transform: translateX(-200px) translateY(-200px);
    transition: transform 300ms;
  }
  .pie-color:hover {
    opacity: 0.85;
  }
  .pie-color:active {
    opacity: 0.7;
  }
  .pie1 {
    clip-path: polygon(200px 200px, 344px 450px, 0 450px);
    transition-delay: 30ms;
  }
  .pie2 {
    clip-path: polygon(200px 200px, 344px 450px, 450px 344px);
    transition-delay: 60ms;
  }
  .pie3 {
    clip-path: polygon(200px 200px, 450px 0, 450px 344px);
    transition-delay: 90ms;
  }
  .pie-color {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .pie-color1 {
    background: linear-gradient(135deg,#ffff99,orange);
    clip-path: polygon(200px 200px, 344px 450px, 0 450px);
  }
  .pie-color2 {
    background: linear-gradient(135deg, #ffff99,yellow);
    clip-path: polygon(200px 200px, 344px 450px, 450px 344px);
  }
  .pie-color3 {
    background: linear-gradient(135deg, #ffffb3, #ffffb3);
    clip-path: polygon(200px 200px, 450px 0, 450px 344px);
  }
  .card1 {
    left: 210px;
    position: absolute;
    top: 300px;
    width: 50px;
  }
  .discount {
    left: 265px;
    position: absolute;
    top: 265px;
    width: 46px;
  }
  .cart1 {
    left: 305px;
    position: absolute;
    top: 210px;
    width: 46px;
  }
  .menu {
    -webkit-tap-highlight-color: transparent;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 4px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    height: 170px;
    left: -100px;
    position: absolute;
    top: -100px;
    width: 170px;
  }
  .hamburger {
    cursor: pointer;
    height: 46px;
    left: 58%;
    position: relative;
    top: 58%;
    width: 46px;
  }
  .title {
    color: white;
    font-family: "Crimson Text", serif;
    font-size: 80px;
    line-height: 84px;
    margin-top: -100px;
    text-align: center;
  }
  .body {
   
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 28px;
    margin: 30px auto;
    max-width: 600px;
    text-align: center;
  }
  .hamburger path {
    transition: transform 300ms;
  }
  .hamburger path:nth-child(1) {
    transform-origin: 25% 29%;
  }
  .hamburger path:nth-child(2) {
    transform-origin: 50% 50%;
  }
  .hamburger path:nth-child(3) {
    transform-origin: 75% 72%;
  }
  .hamburger path:nth-child(4) {
    transform-origin: 75% 29%;
  }
  .hamburger path:nth-child(5) {
    transform-origin: 25% 72%;
  }
  .active .pie {
    transform: translateX(0) translateY(0);
  }
  .active .hamburger path:nth-child(1) {
    transform: rotate(45deg);
  }
  .active .hamburger path:nth-child(2) {
    transform: scaleX(0);
  }
  .active .hamburger path:nth-child(3) {
    transform: rotate(45deg);
  }
  .active .hamburger path:nth-child(4) {
    transform: rotate(-45deg);
  }
  .active .hamburger path:nth-child(5) {
    transform: rotate(-45deg);
  }
  .log_bg{
    text-align: center;
    margin-top:150px;
    
  }